---
layout: default
---

 <!-- Section: Subpage Hero -->
        <section class="section-subpage" id="about-us">
            <header>
                <h1>We believe the future of retail is zero inventory risk</h1>
                <h2>Hingeto helps brands on retailers expand their product offering without holding physical inventory</h2>
            </header>
            <div class="hero-image">
                <img src="{{ '/assets/images/about/about-hero.jpg' | relative_url }}" width="1140" height="400" alt="About Us Hero">
            </div>
            <footer>
                <h1>About Hingeto</h1>
                <p>At Hingeto, we come from all different backgrounds and experiences to solve retail’s biggest problem, inventory. Everyone is playing the guessing page. Deciding on what new brands to carry, how much inventory to buy and what colors will be the next big thing. We build solutions which helps mitigate all those decisions while driving great revenue for your business.</p>
            </footer>
        </section>
        <!-- Section: About -->
        <section class="section-about">
            <div class="row">
                <div class="col-12 col-lg-10 about-content">
                    <div class="about">
                        <h1>We value collaboration to create new value in the world</h1>
                    </div>
                </div>
                <img src="{{ '/assets/images/home/img-warehouse.png' | relative_url }}" width="360" height="360" alt="Hingeto Warehouse" class="about-image">
            </div>
        </section>
        <!-- Section: Values -->
        <section class="section-values">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="value">
                                <img src="{{ '/assets/images/stickers/sticker-growth.png' | relative_url }}" width="83" height="73" alt="Growth">
                                <h1>2015</h1>
                                <p>
                                    We got our start with a small team building solutions for brands looking to bring new products in the world without upfront costs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 ml-auto">
                            <div class="value">
                                <img src="{{ '/assets/images/stickers/sticker-shop.png' | relative_url }}" width="82" height="82" alt="Growth">
                                <h1>Thousands of Stores</h1>
                                <p>
                                    We have built many solutions for some of the largest retailers and brands in the world.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="value">
                                <img src="{{ '/assets/images/stickers/sticker-mappin.png' | relative_url }}" width="66" height="82" alt="Growth">
                                <h1>4 Countries</h1>
                                <p>
                                    Most of our customers are in the United States but our team is global.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: About -->
        <section class="section-about alternate">
            <div class="row">
                <div class="col-12 col-lg-10 about-content">
                    <div class="about">
                        <h1>We’re building how the future of retail should work.</h1>
                    </div>
                </div>
                <img src="{{ '/assets/images/home/img-warehouse.png' | relative_url }}" width="360" height="360" alt="Hingeto Warehouse" class="about-image">
            </div>
        </section>
        <!-- Section: Our Products -->
        <section class="section-products">
            <header>
                <h1>Our Products</h1>
            </header>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <figure class="pacsun">
                            <img src="{{ '/assets/images/home/img-pacsun.png' | relative_url }}" width="555" height="423" alt="Retails Dropship System" class="photo">
                            <figcaption>
                                <a href="https://pacsun.com" target="_blank">pacsun.com</a>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="{{ '/assets/images/home/wwd-mxed.png' | relative_url }}" width="360" height="484" alt="Mxed" class="photo">
                            <figcaption>
                                <a href="https://www.mxedapp.com/" target="_blank">www.mxedapp.com</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-lg-6 to-right">
                        <figure class="beastmode">
                            <img src="{{ '/assets/images/home/img-runner.png' | relative_url }}" width="360" height="485" alt="Create-A-Brand Platform" class="photo">
                            <figcaption>
                                <a href="https://beastmodeonline.com" target="_blank">beastmodeonline.com</a>
                            </figcaption>
                        </figure>
                        <div class="stacked-images alternate">
                            <figure>
                                <figcaption>
                                    <a href="http://andresogward.com" target="_blank">andresogward.com</a>
                                </figcaption>
                                <img src="{{ '/assets/images/home/img-boxing.png' | relative_url }}" width="360" height="273" alt="Andres Ogward Hingeto">
                            </figure>
                            <figure>
                                <img src="{{ '/assets/images/home/img-ball.png' | relative_url }}" width="362" height="274" alt="Jaylen Brown Hingeto">
                                <figcaption>
                                    <a href="https://jaylenbrown.hingeto.com" target="_blank">jaylenbrown.hingeto.com</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>