---
layout: default
---

<div class="infobox-container">

	<div class="row">
		<div class="col-12 col-lg-10 mx-auto">
			<h1>Frequently Asked Questions</h1>
			<hr />

			<h2>What payment methods are accepted?</h2>

			<p>Visa, Mastercard, Discover, American Express are accepted at Checkout.</p>

			<p>
			We accept PayPal, but for us to do so, you must contact support@hingeto.com. We cannot guarantee that by the time we respond, that there will be inventory remaining for the item you'd like.</p>

			<h2>Do you store my credit card information?</h2>

			<p>
				No we do not. All information is stored by our processor, Stripe. We only store the last 4 and card type, so that you may easily reuse the same credit card for a future purchase (it is kept as a way for you to easily reidentify the payment method, even though Stripe is the custodian).
			</p>

			<h2>I have a question about my order</h2>
			<p>
				Please email us at <em>support@hingeto.com</em> and we will respond within 2 - 3 business days.
			</p>

		</div> 
	</div>


</div>



{%- include footer3.html -%}











   

