---
layout: default
---

 <!-- Section: Hero (+Claim) -->
        <section class="section-hero">
            <h1>We Help Great Brands and Retailers Grow Their Revenues Online</h1>
            <div class="buttons">
                <a class="btn btn-dark btn-lg" href="retail-solutions.html">Retail Solutions</a>
                <!--<a class="btn btn-secondary btn-lg" href="brand_solutions.html">Brand Solutions</a>-->
            </div>
        </section>
        <hr class="arrow-down" data-scroll-anchor="#boxes-home">
        <!-- Section: About -->
        <section class="section-about">
            <div class="row">
                <div class="col-12 col-lg-10 about-content">
                    <div class="about">
                        <h1>We believe the future of retail is <span>zero</span> inventory risk</h1>
                    </div>
                </div>
                <img src="{{ '/assets/images/home/img-warehouse.png' | relative_url }}" width="360" height="360" alt="Hingeto Warehouse" class="about-image">
            </div>
        </section>
        <!-- Section: What We Do -->
        <section class="section-boxes" id="boxes-home">
            <header>
                <h1>What We Do</h1>
            </header>
            <!-- Retail Dropship System -->
            <div class="infobox-container" id="infobox-retail">
                <div class="row">
                    <div class="col-12 col-lg-10 mx-auto">
                        <div class="infobox infobox-ltr">
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="infobox-description">
                                        <h2><span>01.</span> Retail Dropship System</h2>
                                        <p>Join retailers like PacSun in selling 100’s of vendors and millions in virtual inventory. Hingeto provides: custom integrations, easy to use backend, a comprehensive tool kit to enable you to manage vendors & program. Hingeto works with your buyers to recruit and onboard your top vendors.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <figure class="infobox-image">
                        <img src="{{ '/assets/images/home/img-pacsun.png' | relative_url }}" width="555" height="423" alt="Retail Dropship System" class="photo">
                        <div class="infobox-icon">
                            <img src="{{ '/assets/images/stickers/sticker-box.png' | relative_url }}" width="119" height="113" alt="Retail Dropship System">
                        </div>
                        <figcaption>
                            <a href="https://pacsun.com" target="_blank">pacsun.com</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Create-A-Brand Platform -->
            <div class="infobox-container infobox-reverse infobox-tall" id="infobox-platform">
                <div class="row">
                    <div class="col-12 col-lg-10 mx-auto">
                        <div class="infobox">
                            <div class="row">
                                <div class="col-12 col-lg-5 ml-auto">
                                    <div class="infobox-description">
                                        <h2><span>02.</span> Create-A-Brand Platform</h2>
                                        <p>Join our pro athletes and start a brand from scratch. Receive industry best design and branding, manufacturing (no-risk or cut & sew garments) and a customized sales platform.</p>
                                    </div>
                                </div>
                            </div>
                            <figure class="infobox-image">
                                <img src="{{ '/assets/images/home/img-runner.png' | relative_url }}" width="360" height="485" alt="Create-A-Brand Platform" class="photo">
                                <figcaption>
                                    <a href="https://beastmodeonline.com" target="_blank">beastmodeonline.com</a>
                                </figcaption>
                                <div class="infobox-icon">
                                    <img src="{{ '/assets/images/stickers/sticker-accessories.png' | relative_url }}" width="126" height="124" alt="Create-A-Brand Platform Icon">
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <!-- On-Demand Products -->
            <div class="infobox-container" id="infobox-on-demand">
                <div class="row">
                    <div class="col-12 col-lg-10 mx-auto">
                        <div class="infobox infobox-ltr">
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="infobox-description">
                                        <h2><span>03.</span> On-Demand Products</h2>
                                        <p>Expand your brands product assortment by applying it's top selling designs to trending on-demand categories. You can sell with a custom no risk Hingeto webstore, or directly through your Shopify ecommerce site.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="infobox-image">
                        <div class="stacked-images">
                            <figure>
                                <figcaption>
                                    <a href="https://jaylenbrown.hingeto.com" target="_blank">jaylenbrown.hingeto.com</a>
                                </figcaption>
                                <img src="{{ '/assets/images/home/img-ball.png' | relative_url }}" width="362" height="274" alt="Jaylen Brown Hingeto">
                            </figure>
                            <figure>
                                <img src="{{ '/assets/images/home/img-boxing.png' | relative_url }}" width="360" height="273" alt="Andres Ogward Hingeto">
                                <figcaption>
                                    <a href="http://andresogward.com" target="_blank">andresogward.com</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="infobox-icon">
                            <img src="{{ '/assets/images/stickers/sticker-shirt.png' | relative_url }}" height="125" alt="On-Demand Products Icon">
                        </div>
                    </div>
                </div>
            </div>
            <!-- MXED -->
            <div class="infobox-container infobox-reverse infobox-tall">
                <div class="row">
                    <div class="col-12 col-lg-10 mx-auto">
                        <div class="infobox">
                            <div class="row">
                                <div class="col-12 col-lg-5 ml-auto">
                                    <div class="infobox-description">
                                        <h2><span>04.</span> MXED</h2>
                                        <p>Enabling 12,000 online retailers to sell officially licensed product with zero inventory risk</p>
                                    </div>
                                </div>
                            </div>
                            <figure class="infobox-image">
                                <img src="{{ '/assets/images/home/wwd-mxed.png' | relative_url }}" width="360" height="484" alt="Mxed" class="photo">
                                <figcaption>
                                    <a href="https://www.mxedapp.com/" target="_blank">www.mxedapp.com</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-12 col-lg-12 mx-auto">
                <div class="banner banner-gold tall">
                    <h2>Get Started with Hingeto!</h2>
                    <a class="btn btn-dark btn-lg" href="https://hingeto.typeform.com/to/GtuxAV">Get Started</a>
                </div>
            </div>
        </div>

   {%- include footer2.html -%}

